@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Montserrat:wght@200;400;700&family=Open+Sans:wght@300;400;700&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, img {
  height: 100%;
  width: 100%;
}

hr {
  width: 115px;
  height: 7px;
  background-color: white;
  border: none;
  margin-top: 45px;
}

h2 {
  font: 600 2.25rem "Montserrat", sans-serif;
  letter-spacing: 2px;
  text-align: left;
  margin-top: 20px;
}

p {
  font: 20px "Arimo", sans-serif;
  line-height: 43px;
  margin-top: 33px;
}

.flex {
  display: flex;
  width: 1011px;
  margin: 60px auto 0;
}

#black {
  background-color: black;
  color: white;
  border-radius: 0 25px;
  padding: 30px;
  max-width: 490px;
}

#div-img {
  max-width: 260px;
  height: auto;
  width: auto;
}

.circle {
  border-radius: 50%;
}

.btn {
  font: 700 0.8em 'OpenSans', sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 22px 52px;
  margin-top: 38px;
  border: none;
  border-radius: 0 18px;
  cursor: pointer;
  transition-duration: 0.3s;
  display: inline-block;
}

.btn:hover {
  background-color: black;
  color: white;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  font: 15px 'OpenSans', sans-serif;
  color: black;
}
