@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Montserrat:wght@200;400;700&family=Open+Sans:wght@300;400;700&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, img {
  height: 100%;
  width: 100%;
}

hr {
  width: 100px;
  height: 5px;
  background-color: white;
  border: none;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

p {
  font-family: "Arimo", sans-serif;
}

button strong {
  
}

.flex {
  display: flex;
}

#black {
  background-color: black;
  color: white;
}

#div-img {
  max-width: 235px;
  height: auto;
  width: auto;
}

.circle {
  border-radius: 50%;
}

.btn {
  font: 0.71em 'OpenSans', sans-serif;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 17px 38px;
  border: none;
  border-radius: 0 14px;
  cursor: pointer;
  transition-duration: 0.3s;
  display: inline-block;
}

.btn:hover {
  background-color: black;
  color: white;
}